$bg-menu : $base-grey;
$bg-menu-active : $base-light-grey;
$bg-submenu : $base-light-grey;
$bg-submenu-active : $base-white;
$color-menu : $base-white;
$color-menu-active : $base-black;
$color-submenu : $base-grey;
$color-submenu-active : $base-black;