$bg-menu : $mdg-grey;
$bg-menu-active : $mdg-light-grey;
$bg-submenu : $mdg-light-grey;
$bg-submenu-active : $mdg-white;
$color-menu : $mdg-white;
$color-menu-active : $mdg-black;
$color-submenu : $mdg-grey;
$color-submenu-active : $mdg-black;