@import "./includes/variables";

.base-main-navigation{
    background-color: $bg-menu;
    &__open-btn{
        position: relative;
        @include media(size-l) {
            display: none;
        }        
        .menu-icon-open{
            display: block;
        }
        .menu-icon-close{
            display: none;
        }
        &.active{
            position: fixed;
            top: $bu-100;
            right: $bu-100;
            z-index: 4;
            .customize-support &{
                margin-top: 40px;
                @include media(size-l) {
                    margin-top: 0;
                }
            }
            .menu-icon-open{
                display: none;
            }
            .menu-icon-close{
                display: block;
            } 
        }
    }
    &__menu{
        margin: 0;
        box-sizing: border-box;
        display: block;
        position: fixed;
        right: 0;
        transform: translateX(100%);
        width: 100%;
        max-width: 300px;
        padding: $bu-500 $bu-100 $bu-150;
        background-color: $bg-menu;
        top: 0;
        height: calc(100% - 40px);
        z-index: 3;
        transition: visibility .3s 0s,-webkit-transform .3s cubic-bezier(.77,.2,.05,1);
        overflow: hidden auto;
        @include media(size-l) {
            padding: 0;
            position: relative;
            right: auto;
            height: auto;
            top: auto;
            transition: none;
            transform: none;
            max-width: none;
            background-color: $bg-menu;
            overflow: visible;
            &--horizontal {
                .base-main-navigation{
                    &__list {
                        display: flex;
                        justify-content: flex-start;
                        flex-wrap: wrap;
                        list-style: none;
                        margin: 0;
                        max-width: none;
                        padding-left: 0;
                        position: relative;
                        gap: $bu-100;

                    }
                    &__item{
                        display: flex;
                        justify-content: space-between;
                        position: relative;
                        margin: 0;
                        &:not(.active):hover {
                            .base-main-navigation {
                                &__item-toggle-btn{
                                    transform: rotate(180deg);
                                }
                                &__sub-menu{
                                    max-height: 1000px;
                                }
                            }
                        }
                        a{
                            padding: $bu-050;
                        }
                    }
                    &__item-toggle-btn{
                        position: relative;
                        top: auto;
                        right: auto;
                    }
                    &__sub-menu{
                        left: 0;
                        margin: 0;
                        width:max-content;
                        position: absolute;
                        top: 100%;
                        transition: all 0.5s ease;
                        z-index: 4;
                        transition: max-height .3s 0s ease-in-out;
                        max-height: 0;
                        overflow: hidden;
                        background-color: $bg-submenu;
                        &.active{
                            max-height: 1000px;
                        }
                        a{
                            color: $color-submenu;
                        }
                        .base-main-navigation{
                            &__item{
                                flex-direction: column;
                            }
                            &__item-toggle-btn{
                                display: none;
                            }
                        }
                        .base-main-navigation__sub-menu{
                            max-height: 1000px;
                            position: relative;
                            width: auto;
                            height: auto;
                            top: auto;
                            left: auto;
                            transition:none;
                        }
                    }
                }
            }
        }
        .customize-support &{
            top: 40px;
            @include media(size-l) {
                top: 0;
            }
        }
        &.active{
            transform: translateX(0);
        }
    }
    &__list{
        padding: 0;
    }
    &__item{
        display: block;
        position: relative;
        border-bottom: 1px solid $color-menu;
        box-sizing: border-box;
        margin-bottom: $bu-025;        
        @include media(size-l) {
            border-bottom: none;
        }
        a{
            display: block;
            line-height: 1;
            padding: $bu-050;
            text-decoration: none;
            color: $color-menu;
        }
        &--current, &.active, &:hover {
            background-color: $bg-menu-active;
            a{
                color: $color-menu-active;
            }
        }
        &--has-children{
            a{
               padding-right: $bu-150;   
            }
        }
        &:last-child{
            border-bottom: none;
        }
        &-toggle-btn{
            width: $bu-200;
            position: absolute;
            right: 0;
            top: 0;
            padding: $bu-025;
            transition: visibility .3s 0s,-webkit-transform .3s cubic-bezier(.77,.2,.05,1);
            &.active{
                transform: rotate(180deg);
            }
            span{
                font-size: $bu-100;
                width: $bu-100;
                height: $bu-100;
            }
        }
    }
    &__sub-menu{
        padding-left: 0;
        transition: max-height .3s 0s ease-in-out;
        max-height: 0;
        overflow: hidden;
        &-item{
            box-sizing: border-box;
            width: 100%;
            a{
                display: block;
                padding: $bu-050;
                box-sizing: border-box;
                &:hover{
                    background-color: $bg-submenu-active;
                    color: $color-submenu-active;
                }
            }
        }
        $levels:'0' $bu-050,'1' $bu-075,'2' $bu-100,'3' $bu-125,'4' $bu-150,'5' $bu-175;
        @each $level, $padding in $levels {
        &--level-#{$level}{
            .base-main-navigation__item {
                a{
                    padding-left: #{$padding};
                }
            }
        }
        }
        &.active{
            max-height: 1000px;
        }
    }
}