.mdg-drawer {
    bottom: 0;
    box-sizing: border-box;
    display: flex;
    font-weight: 400;
    left: 0;
    outline: 0;
    overflow: hidden;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 3;
    justify-content: flex-end;
    &__container{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        background: var(--color-grey-000,$mdg-white);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        height: 100%;
        max-width: calc(100% - $bu-200);
        -webkit-transition: visibility 0s linear .4s,-webkit-transform .4s;
        transition: visibility 0s linear .4s,-webkit-transform .4s;
        transition: visibility 0s linear .4s,transform .4s;
        transition: visibility 0s linear .4s,transform .4s,-webkit-transform .4s;
        visibility: hidden;
        width: 100%;
        transform: translateX(100%);
        .customize-support &{
            box-sizing: border-box;
            padding-top: 46px;
            @media all and (min-width: 783px) { 
                padding-top: 32px;
             }
        }
        @include media(size-m) {
            max-width: 25rem;
        }
        @include media(size-l) {
            max-width: 27.5rem;
        }
        @include media(size-xl) {
            max-width: 30rem;
        }
    }
    &.active {
        .mdg-drawer__container{
            pointer-events: all;
            -webkit-transform: translateX(0);
            transform: translateX(0);
            -webkit-transition: visibility 0s linear 0s,-webkit-transform .4s;
            transition: visibility 0s linear 0s,-webkit-transform .4s;
            transition: visibility 0s linear 0s,transform .4s;
            transition: visibility 0s linear 0s,transform .4s,-webkit-transform .4s;
            visibility: visible;
        }
    }
    &__header, &__body:not(&__body--no-padding), &__footer{
        padding: $bu-100 $bu-050 $bu-050;
        @include media(size-s) {
            padding: $bu-100 $bu-100 $bu-050;
        }
        @include media(size-m) {
            padding: $bu-125 $bu-125 $bu-075;
        }
        @include media(size-l) {
            padding: $bu-150 $bu-150 $bu-100;
        }
        @include media(size-xl) {
            padding: $bu-200 $bu-200 $bu-125;
        }
    }
    &__header {
        align-items: center;
        display: flex;
        min-height: $bu-400;
        position: relative;
        background-color: $mdg-color-2;
    }
    &__title{
        font-size: $bu-100;
        font-weight: 400;
        line-height: 1.2857142857;
        margin-bottom: 0;
        margin-top: 0;
    }
    &__close {
        -ms-flex-item-align: start;
        align-self: flex-start;
        background-size: contain;
        border: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        cursor: pointer;
        height: 2rem;
        margin: 0 0 0 auto;
        outline: none;
        padding: 0;
        position: relative;
        text-decoration: none;
        width: 2rem;
        justify-content: center;
        &-text {
            clip: rect(0,0,0,0);
            border: 0;
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            visibility: visible;
            white-space: nowrap;
            width: 1px;
        }
    }
    &__body{
        flex: 1 1;
        overflow: hidden;
    }
    &__content{
        max-height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        
        scrollbar-color: #6f676c #eeeef0;
        scrollbar-width: thin;
        &:not(&--no-padding){
           padding: $bu-150 $bu-050 $bu-300; 
        }
    }
    &__footer{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: $bu-150;
    }
}