/**
 * Responsive Styles
 */

/**
 * Required Variables
 */

$default_width: 610px;
$max_content_width: 1240px;
$max_content_width_wide: 1480px;
$breakpoint_xs: 320px;
$breakpoint_s: 360px;
$breakpoint_m: 480px;
$breakpoint_l: 1024px;
$breakpoint_xl: 1280px;
$breakpoint_xxl: 1640px;

// Responsive breakpoints mixin
@mixin media( $res ) {

	@if size-xs-only == $res {
		@media only screen and (max-width: #{$breakpoint_xs - 1}) {
			@content;
		}
	}

	@if size-xs == $res {
		@media only screen and (min-width: #{$breakpoint_xs}) {
			@content;
		}
	}
	@if size-s-only == $res {
		@media only screen and (max-width: #{$breakpoint_s - 1}) {
			@content;
		}
	}

	@if size-s == $res {
		@media only screen and (min-width: #{$breakpoint_s}) {
			@content;
		}
	}

	@if size-m-only == $res {
		@media only screen and (max-width: #{$breakpoint_m - 1}) {
			@content;
		}
	}

	@if size-m == $res {
		@media only screen and (min-width: #{$breakpoint_m}) {
			@content;
		}
	}

	@if size-l-only == $res {
		@media only screen and (max-width: #{$breakpoint_l - 1}) {
			@content;
		}
	}

	@if size-l == $res {
		@media only screen and (min-width: #{$breakpoint_l}) {
			@content;
		}
	}

	@if size-xl-only == $res {
		@media only screen and (max-width: #{$breakpoint_xl - 1}) {
			@content;
		}
	}

	@if size-xl == $res {
		@media only screen and (min-width: #{$breakpoint_xl}) {
			@content;
		}
	}
	@if size-xxl-only == $res {
		@media only screen and (max-width: #{$breakpoint_xxl - 1}) {
			@content;
		}
	}

	@if size-xxl == $res {
		@media only screen and (min-width: #{$breakpoint_xxl}) {
			@content;
		}
	}

}

/**
 * Root Media Query Variables
 */
:root {
	--responsive--spacing-horizontal: calc(2 * var(--global--spacing-horizontal) * 0.6);
	--responsive--aligndefault-width: calc(100vw - var(--responsive--spacing-horizontal));
	--responsive--alignwide-width: calc(100vw - var(--responsive--spacing-horizontal));
	--responsive--alignfull-width: 100%;
	--responsive--alignright-margin: var(--global--spacing-horizontal);
	--responsive--alignleft-margin: var(--global--spacing-horizontal);
}

@include media(size-s) {

	:root {
		--responsive--aligndefault-width: min(calc(100vw - 4 * var(--global--spacing-horizontal)), #{$default_width});
		--responsive--alignwide-width: calc(100vw - 4 * var(--global--spacing-horizontal));
		--responsive--alignright-margin: calc(0.5 * (100vw - var(--responsive--aligndefault-width)));
		--responsive--alignleft-margin: calc(0.5 * (100vw - var(--responsive--aligndefault-width)));
	}
}

@include media(size-l) {

	:root {
		--responsive--aligndefault-width: min(calc(100vw - 8 * var(--global--spacing-horizontal)), #{$default_width});
		--responsive--alignwide-width: min(calc(100vw - 8 * var(--global--spacing-horizontal)), #{$max_content_width});
	}
}
@include media(size-xl) {

	:root {
		--responsive--aligndefault-width: min(calc(100vw - 8 * var(--global--spacing-horizontal)), #{$default_width});
		--responsive--alignwide-width: min(calc(100vw - 8 * var(--global--spacing-horizontal)), #{$max_content_width_wide});
	}
}

/**
 * Extends
 */
%responsive-full-width {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}
%responsive-aligndefault-width {
	max-width: var(--responsive--aligndefault-width);
	margin-left: auto;
	margin-right: auto;
}

%responsive-alignwide-width {
	max-width: var(--responsive--alignwide-width);
	margin-left: auto;
	margin-right: auto;
}

%responsive-alignfull-width-mobile {
	max-width: var(--responsive--alignfull-width);
	width: var(--responsive--alignfull-width);
	margin-left: auto;
	margin-right: auto;
}

@include media(size-s) {
	%responsive-alignfull-width {
		max-width: var(--responsive--alignfull-width);
		width: auto;
		margin-left: auto;
		margin-right: auto;
	}
}

%responsive-alignwide-width-nested {
	margin-left: auto;
	margin-right: auto;
	width: var(--responsive--alignwide-width);
	max-width: var(--responsive--alignfull-width);
}

%responsive-alignfull-width-nested {
	margin-left: auto;
	margin-right: auto;
	width: calc(var(--responsive--alignfull-width) - calc(2 * var(--responsive--spacing-horizontal)));
	max-width: var(--responsive--alignfull-width);
}

@include media(size-l) {
	%responsive-alignfull-width-nested {
		margin-left: auto;
		margin-right: auto;
		width: calc(var(--responsive--alignfull-width) - calc(4 * var(--responsive--spacing-horizontal)));
		max-width: var(--responsive--alignfull-width);
	}
}


%responsive-alignleft-mobile {

	/*rtl:ignore*/
	margin-left: 0;

	/*rtl:ignore*/
	margin-right: var(--responsive--spacing-horizontal);
}

@include media(size-s) {
	%responsive-alignleft {

		/*rtl:ignore*/
		margin-left: var(--responsive--alignleft-margin);

		/*rtl:ignore*/
		margin-right: var(--global--spacing-horizontal);
	}
}

%responsive-alignright-mobile {

	/*rtl:ignore*/
	margin-left: var(--responsive--spacing-horizontal);

	/*rtl:ignore*/
	margin-right: 0;
}

@include media(size-s) {
	%responsive-alignright {

		/*rtl:ignore*/
		margin-left: var(--global--spacing-horizontal);

		/*rtl:ignore*/
		margin-right: var(--responsive--alignright-margin);
	}
}

// Output
.default-max-width {
	@extend %responsive-aligndefault-width;
}

.wide-max-width {
	@extend %responsive-alignwide-width;
}

.full-max-width {
	@extend %responsive-alignfull-width;
}
