
@mixin mdg-font-size( $sizevalue, $lineheightvalue  ) {
    $sizes: 
        "xs" $bu-075, 
        "s" 0.875rem, 
        "m" $bu-100, 
        "l" 1.125rem, 
        "xl" $bu-125;
        
    @each $size, $fontsize in $sizes {
        @if $sizevalue == $size {
            font-size: $fontsize;
        }
    }
    @if $lineheightvalue == 's' {
        line-height: 0.875;
    } @else if $lineheightvalue == 'm' {
        line-height: 1;
    } @else if $lineheightvalue == 'l' {
        line-height: 1.125;
    }
}
@mixin mdg-title-size( $sizevalue, $lineheightvalue  ) {
    $sizes: 
        "xs" $bu-150, 
        "s" $bu-200, 
        "m" $bu-250, 
        "l" $bu-300, 
        "xl" $bu-350,
        "xxl" $bu-400;
        
    @each $size, $fontsize in $sizes {
        @if $sizevalue == $size {
            font-size: $fontsize;
        }
    }
    @if $lineheightvalue == 's' {
        line-height: 0.875;
    } @else if $lineheightvalue == 'm' {
        line-height: 1;
    } @else if $lineheightvalue == 'l' {
        line-height: 1.125;
    }
}

@mixin mdg-container( $limited : false ) {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: $bu-100;
    padding-right: $bu-100;
    width: 100%;

    $sizes: 
        "xs" 100% $bu-100, 
        "s" 100% $bu-150, 
        "m" 100% $bu-200, 
        "l" 64rem $bu-250, 
        "xl" 80rem, 
        "xxl" 100rem;
        
    @each $device, $size, $padding in $sizes {
        @include media(size-#{$device}) {
            padding-left: #{$padding};
            padding-right: #{$padding};
            @if $limited {
                max-width:#{$size};
            }
        }
    }
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get($columns, $numberColumns) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

@mixin mdg-button-base($fontsize : 'm', $basePadding : $bu-050, $gap : $bu-050) {
    border: $bd-size-btn solid;
    border-color: $bd-primary-btn;
    border-radius: $bd-radius-btn;
    background: $bg-primary-btn;
    color: $color-primary-btn;
    line-height: 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: #{$basePadding} calc(#{$basePadding} * 2) calc(#{$basePadding} + #{$bu-025});
    gap: #{$gap};
    @include mdg-font-size(#{$fontsize}, 'l');
    .mdg-button__icon{
        @include mdg-font-size(#{$fontsize}, 'l');
    }

    &:hover, &:active {
        border-color: $bd-primary-btn-hover;
        background: $bg-primary-btn-hover;
        color: $color-primary-btn-hover;
    }
}